* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
}

/** PLAYER **/
.player {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  width: 50px;
  height: 50px;
  transition: transform 0.3s linear;
}

.player img {
  width: 50px;
  height: 50px;
}

/** BULLET **/
.bullet-div {
  position: absolute;
  transition: top 1s;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 40px;
  z-index: 1;
}

/** ENEMY **/
/* .enemy {
  position: absolute;
  top: 10rem;
  left: 1rem;
  width: 50px;
  height: 50px;
  transition: transform 0.3s linear;
  transform: rotate(180deg);
} */

.enemy {
  width: 50px;
  height: 50px;
  transition: transform 0.3s linear;
  transform: rotate(180deg);
  margin: 0 1rem;
}

.enemies-move {
  transform: translateY(100vh);
  transition: transform 20s linear;
}

.enemy img {
  width: 50px;
  height: 50px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
